:root {
    --red: rgb(214, 19, 19);
    --yellow: #ffed2a;
    --blue: rgb(22, 22, 182);
    --orange: rgb(255, 96, 39);
    --header: rgb(83, 236, 172);
    --footer: rgb(255, 122, 122);
    --alt-footer: rgb(84, 212, 159);
    --body-color: rgb(37, 37, 37);
    --body-alt: rgb(41, 22, 54);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    height: 80px;
}

main {
    padding: 20px;
    color: white;
    background: linear-gradient(rgb(41, 22, 54) 10%, rgb(37, 37, 37));
}

footer {
    bottom: 0; 
    padding: 7px 20px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(37, 37, 37);
    height: 1.2rem;
    text-align: right;
    color: var(--header);
    font-weight: 600;
}

#rubiks-banner {
    height: 50px;
    width: auto;
    z-index: 50;
    opacity: 1;
    position: absolute;
}

#name-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 70px;
    top: -15px;
}

#name-header {
    color: var(--header);
}

.example-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oll-container, .pll-algorithms {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.oll-exp {
    display: flex;
}

.oll-1, .oll-2 {
    margin-right: 30px;
    margin-left: 30px;
}

h1 {
    margin-top: 60px;
    font-size: 2.2rem;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    color: #91ccff;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    letter-spacing: 0.3rem;
}

h4 {
    font-size: 2rem;
    text-align: center;
}

h5 {
    color: lightcoral;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

h5 p {
    font-size: 1rem;
    color: rgb(97, 243, 182);
}

.notation-header {
    padding-top: 20px;
}

.move-notation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}

#move-1, #move-2, #move-3, #move-4 {
    margin: 10px;
}

.moves {
    border: 2px solid grey;
    margin: auto;
    padding: 5px;
    background-color: var(--body-color);
}

.parentDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.parentEx {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.divex2,
.divex4,
.divex6,
.divex8 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.divex1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: green;
    border: 3px solid white;
}

.divex2 {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid white;
    background-color: green;
}

.divex3 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px solid white;
    background-color: green;
}

.divex4 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid white;
    background-color: green;
}

.divex5 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: green;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.divex6 {
    grid-area: 3 / 2 / 4 / 3;
    border: 3px solid white;
    background-color: green;
}

.divex7 {
    grid-area: 1 / 3 / 2 / 4;
    border: 3px solid white;
    background-color: green;
}

.divex8 {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px solid white;
    background-color: green;
}

.divex9 {
    grid-area: 3 / 3 / 4 / 4;
    border: 3px solid white;
    background-color: green;
}

.parentL {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px solid white;
    border-bottom: 10px solid var(--yellow);
}

.div4 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div5 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div7 {
    grid-area: 1 / 3 / 2 / 4;
    border: 3px solid white;
    border-right: 10px solid var(--yellow);
}

.div8 {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div9 {
    grid-area: 3 / 3 / 4 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.parentH {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.div11 {
    grid-area: 1 / 1 / 2 / 2;
    border: 3px solid white;
    border-left: 10px solid var(--yellow);
}

.div12 {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div13 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px solid white;
    border-left: 10px solid var(--yellow);
}

.div14 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div15 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div16 {
    grid-area: 3 / 2 / 4 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div17 {
    grid-area: 1 / 3 / 2 / 4;
    border: 3px solid white;
    border-right: 10px solid var(--yellow);
}

.div18 {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div19 {
    grid-area: 3 / 3 / 4 / 4;
    border: 3px solid white;
    border-right: 10px solid var(--yellow);
}

.parentPi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.div21 {
    grid-area: 1 / 1 / 2 / 2;
    border: 3px solid white;
    border-left: 10px solid var(--yellow);
}

.div22 {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div23 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px solid white;
    border-left: 10px solid var(--yellow);
}

.div24 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div25 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div26 {
    grid-area: 3 / 2 / 4 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div27 {
    grid-area: 1 / 3 / 2 / 4;
    border: 3px solid white;
    border-top: 10px solid var(--yellow);
}

.div28 {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div29 {
    grid-area: 3 / 3 / 4 / 4;
    border: 3px solid white;
    border-bottom: 10px solid var(--yellow);
}

.parent-antisune {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.div31 {
    grid-area: 1 / 1 / 2 / 2;
    border: 3px solid white;
    border-left: 10px solid var(--yellow);
}

.div32 {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div33 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px solid white;
    border-bottom: 10px solid var(--yellow);
}

.div34 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div35 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div36 {
    grid-area: 3 / 2 / 4 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div37 {
    grid-area: 1 / 3 / 2 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div38 {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div39 {
    grid-area: 3 / 3 / 4 / 4;
    border: 3px solid white;
    border-right: 10px solid var(--yellow);
}

.parent-sune {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.div41 {
    grid-area: 1 / 1 / 2 / 2;
    border: 3px solid white;
    border-top: 10px solid var(--yellow);
}

.div42 {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div43 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div44 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div45 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div46 {
    grid-area: 3 / 2 / 4 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div47 {
    grid-area: 1 / 3 / 2 / 4;
    border: 3px solid white;
    border-right: 10px solid var(--yellow);
}

.div48 {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div49 {
    grid-area: 3 / 3 / 4 / 4;
    border: 3px solid white;
    border-bottom: 10px solid var(--yellow);
}

.parentU {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.div51 {
    grid-area: 1 / 1 / 2 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div52 {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div53 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px solid white;
    border-bottom: 10px solid var(--yellow);
}

.div54 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div55 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div56 {
    grid-area: 3 / 2 / 4 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div57 {
    grid-area: 1 / 3 / 2 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div58 {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div59 {
    grid-area: 3 / 3 / 4 / 4;
    border: 3px solid white;
    border-bottom: 10px solid var(--yellow);
}

.parentT {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.div61 {
    grid-area: 1 / 1 / 2 / 2;
    border: 3px solid white;
    border-top: 10px solid var(--yellow);
}

.div62 {
    grid-area: 2 / 1 / 3 / 2;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div63 {
    grid-area: 3 / 1 / 4 / 2;
    border: 3px solid white;
    border-bottom: 10px solid var(--yellow);
}

.div64 {
    grid-area: 1 / 2 / 2 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div65 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div66 {
    grid-area: 3 / 2 / 4 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div67 {
    grid-area: 1 / 3 / 2 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div68 {
    grid-area: 2 / 3 / 3 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.div69 {
    grid-area: 3 / 3 / 4 / 4;
    border: 3px solid white;
    background-color: var(--yellow);
}

.parent-tperm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.pll1 {
    grid-area: 1 / 1 / 2 / 2;
    border-left: 10px solid var(--blue);
    border-top: 10px solid var(--orange);
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll2 {
    grid-area: 2 / 1 / 3 / 2;
    border-left: 10px solid var(--blue);
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll3 {
    grid-area: 3 / 1 / 4 / 2;
    border-left: 10px solid var(--blue);
    border-bottom: 10px solid var(--red);
    border-top: 3px solid white;
    border-right: 3px solid white;
    background-color: var(--yellow);
}

.pll4 {
    grid-area: 1 / 2 / 2 / 3;
    border-top: 10px solid var(--red);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll5 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.pll6 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 10px solid var(--orange);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    background-color: var(--yellow);
}

.pll7 {
    grid-area: 1 / 3 / 2 / 4;
    border-top: 10px solid green;
    border-right: 10px solid var(--red);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll8 {
    grid-area: 2 / 3 / 3 / 4;
    border-right: 10px solid green;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll9 {
    grid-area: 3 / 3 / 4 / 4;
    border-right: 10px solid var(--orange);
    border-bottom: 10px solid green;
    border-top: 3px solid white;
    border-left: 3px solid white;
    background-color: var(--yellow);
}

.parent-hperm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.pll11 {
    grid-area: 1 / 1 / 2 / 2;
    border-left: 10px solid green;
    border-top: 10px solid var(--red);
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll12 {
    grid-area: 2 / 1 / 3 / 2;
    border-left: 10px solid var(--blue);
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll13 {
    grid-area: 3 / 1 / 4 / 2;
    border-left: 10px solid green;
    border-bottom: 10px solid var(--orange);
    border-top: 3px solid white;
    border-right: 3px solid white;
    background-color: var(--yellow);
}

.pll14 {
    grid-area: 1 / 2 / 2 / 3;
    border-top: 10px solid var(--orange);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll15 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.pll16 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 10px solid var(--red);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    background-color: var(--yellow);
}

.pll17 {
    grid-area: 1 / 3 / 2 / 4;
    border-top: 10px solid var(--red);
    border-right: 10px solid var(--blue);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll18 {
    grid-area: 2 / 3 / 3 / 4;
    border-right: 10px solid green;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll19 {
    grid-area: 3 / 3 / 4 / 4;
    border-right: 10px solid var(--blue);
    border-bottom: 10px solid var(--orange);
    border-top: 3px solid white;
    border-left: 3px solid white;
    background-color: var(--yellow);
}

.parent-uperma {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.pll21 {
    grid-area: 1 / 1 / 2 / 2;
    border-left: 10px solid green;
    border-top: 10px solid var(--red);
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll22 {
    grid-area: 2 / 1 / 3 / 2;
    border-left: 10px solid var(--orange);
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll23 {
    grid-area: 3 / 1 / 4 / 2;
    border-left: 10px solid green;
    border-bottom: 10px solid var(--orange);
    border-top: 3px solid white;
    border-right: 3px solid white;
    background-color: var(--yellow);
}

.pll24 {
    grid-area: 1 / 2 / 2 / 3;
    border-top: 10px solid var(--red);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll25 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.pll26 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 10px solid var(--blue);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    background-color: var(--yellow);
}

.pll27 {
    grid-area: 1 / 3 / 2 / 4;
    border-top: 10px solid var(--red);
    border-right: 10px solid var(--blue);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll28 {
    grid-area: 2 / 3 / 3 / 4;
    border-right: 10px solid green;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll29 {
    grid-area: 3 / 3 / 4 / 4;
    border-right: 10px solid var(--blue);
    border-bottom: 10px solid var(--orange);
    border-top: 3px solid white;
    border-left: 3px solid white;
    background-color: var(--yellow);
}

.parent-upermb {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.pll31 {
    grid-area: 1 / 1 / 2 / 2;
    border-left: 10px solid green;
    border-top: 10px solid var(--red);
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll32 {
    grid-area: 2 / 1 / 3 / 2;
    border-left: 10px solid var(--blue);
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll33 {
    grid-area: 3 / 1 / 4 / 2;
    border-left: 10px solid green;
    border-bottom: 10px solid var(--orange);
    border-top: 3px solid white;
    border-right: 3px solid white;
    background-color: var(--yellow);
}

.pll34 {
    grid-area: 1 / 2 / 2 / 3;
    border-top: 10px solid var(--red);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll35 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.pll36 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 10px solid green;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    background-color: var(--yellow);
}

.pll37 {
    grid-area: 1 / 3 / 2 / 4;
    border-top: 10px solid var(--red);
    border-right: 10px solid var(--blue);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll38 {
    grid-area: 2 / 3 / 3 / 4;
    border-right: 10px solid var(--orange);
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll39 {
    grid-area: 3 / 3 / 4 / 4;
    border-right: 10px solid var(--blue);
    border-bottom: 10px solid var(--orange);
    border-top: 3px solid white;
    border-left: 3px solid white;
    background-color: var(--yellow);
}

.parent-zperm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.pll41 {
    grid-area: 1 / 1 / 2 / 2;
    border-left: 10px solid green;
    border-top: 10px solid var(--red);
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll42 {
    grid-area: 2 / 1 / 3 / 2;
    border-left: 10px solid var(--red);
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll43 {
    grid-area: 3 / 1 / 4 / 2;
    border-left: 10px solid green;
    border-bottom: 10px solid var(--orange);
    border-top: 3px solid white;
    border-right: 3px solid white;
    background-color: var(--yellow);
}

.pll44 {
    grid-area: 1 / 2 / 2 / 3;
    border-top: 10px solid green;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll45 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.pll46 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 10px solid var(--blue);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    background-color: var(--yellow);
}

.pll47 {
    grid-area: 1 / 3 / 2 / 4;
    border-top: 10px solid var(--red);
    border-right: 10px solid var(--blue);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll48 {
    grid-area: 2 / 3 / 3 / 4;
    border-right: 10px solid var(--orange);
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll49 {
    grid-area: 3 / 3 / 4 / 4;
    border-right: 10px solid var(--blue);
    border-bottom: 10px solid var(--orange);
    border-top: 3px solid white;
    border-left: 3px solid white;
    background-color: var(--yellow);
}

.parent-aperm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 3px solid white;
}

.pll51 {
    grid-area: 1 / 1 / 2 / 2;
    border-left: 10px solid var(--red);
    border-top: 10px solid var(--blue);
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll52 {
    grid-area: 2 / 1 / 3 / 2;
    border-left: 10px solid var(--blue);
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll53 {
    grid-area: 3 / 1 / 4 / 2;
    border-left: 10px solid var(--orange);
    border-bottom: 10px solid var(--blue);
    border-top: 3px solid white;
    border-right: 3px solid white;
    background-color: var(--yellow);
}

.pll54 {
    grid-area: 1 / 2 / 2 / 3;
    border-top: 10px solid var(--orange);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll55 {
    grid-area: 2 / 2 / 3 / 3;
    border: 3px solid white;
    background-color: var(--yellow);
}

.pll56 {
    grid-area: 3 / 2 / 4 / 3;
    border-bottom: 10px solid var(--red);
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
    background-color: var(--yellow);
}

.pll57 {
    grid-area: 1 / 3 / 2 / 4;
    border-top: 10px solid green;
    border-right: 10px solid var(--red);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll58 {
    grid-area: 2 / 3 / 3 / 4;
    border-right: 10px solid green;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    background-color: var(--yellow);
}

.pll59 {
    grid-area: 3 / 3 / 4 / 4;
    border-right: 10px solid var(--orange);
    border-bottom: 10px solid green;
    border-top: 3px solid white;
    border-left: 3px solid white;
    background-color: var(--yellow);
}